### import necessary libararies

In [1]:
import pandas as pd

### load data into DataFrame

In [2]:
df=pd.read_csv('HR_Analytics.csv')
df.head()

,EmpID,Age,AgeGroup,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,RM297,18,18-25,Yes,Travel_Rarely,230,Research & Development,3,3,Life Sciences,...,3,80,0,0,2,3,0,0,0,0.0
1,RM302,18,18-25,No,Travel_Rarely,812,Sales,10,3,Medical,...,1,80,0,0,2,3,0,0,0,0.0
2,RM458,18,18-25,Yes,Travel_Frequently,1306,Sales,5,3,Marketing,...,4,80,0,0,3,3,0,0,0,0.0
3,RM728,18,18-25,No,Non-Travel,287,Research & Development,5,2,Life Sciences,...,4,80,0,0,2,3,0,0,0,0.0
4,RM829,18,18-25,Yes,Non-Travel,247,Research & Development,8,1,Medical,...,4,80,0,0,0,3,0,0,0,0.0

### preview & drop nulls

In [8]:
befor=df['YearsWithCurrManager'].isnull().sum() #checking for missing values
df.dropna(inplace=True) #dropping missing values
after=df['YearsWithCurrManager'].isnull().sum() #checking for missing values
print("number of deleted rows: ",befor - after)
df.isnull().sum() #checking for missing values

number of deleted rows:  0

EmpID                       0
Age                         0
AgeGroup                    0
Attrition                   0
BusinessTravel              0
DailyRate                   0
Department                  0
DistanceFromHome            0
Education                   0
EducationField              0
EmployeeCount               0
EmployeeNumber              0
EnvironmentSatisfaction     0
Gender                      0
HourlyRate                  0
JobInvolvement              0
JobLevel                    0
JobRole                     0
JobSatisfaction             0
MaritalStatus               0
MonthlyIncome               0
SalarySlab                  0
MonthlyRate                 0
NumCompaniesWorked          0
Over18                      0
OverTime                    0
PercentSalaryHike           0
PerformanceRating           0
RelationshipSatisfaction    0
StandardHours               0
StockOptionLevel            0
TotalWorkingYears           0
TrainingTimesLastYear       0
WorkLifeBalance             0
YearsAtCompany              0
YearsInCurrentRole          0
YearsSinceLastPromotion     0
YearsWithCurrManager        0
dtype: int64

### count & drop duplicates

In [12]:
print(df['EmpID'].duplicated().sum())
df.drop_duplicates(subset='EmpID',keep='first',inplace=True)
print(df['EmpID'].duplicated().sum())

10
0

### standrize BusinessTravel column

In [16]:
df['BusinessTravel'].replace('TravelRarely','Travel_Rarely',inplace=True)
df['BusinessTravel'].unique()

C:\Users\Kariem\AppData\Local\Temp\ipykernel_13892\3866921294.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['BusinessTravel'].replace('TravelRarely','Travel_Rarely',inplace=True)

array(['Travel_Rarely', 'Travel_Frequently', 'Non-Travel'], dtype=object)

### Load cleaned data into csv file

In [18]:
df.to_csv('HR_Analytics_cleaned.csv',index=False) #saving the cleaned data